@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html[data-theme="light1"] {
  --font-primary: "Lato", sans-serif;

  --color-bg: #ffffff;
  --color-accent: #351142;
  --color-list-bg: #eeeeee;
  --color-border: #d8d8d8;
  --color-todo-text: #000000;
  --color-tag-bg: #e2e2e2;
  --color-idle: #868686;
  --color-progress: #5452b4;
  --color-success: #319c43;

  --border-radius-1: 5px;
  --border-radius-2: 10px;

  --todo-min-height: 50px;
  --list-min-width: 260px;

  font-size: 16px;
  background-color: var(--color-bg);
}

html[data-theme="dark1"] {
  --font-primary: "Lato", sans-serif;

  --color-bg: black;
  --color-accent: #8411ad;
  --color-list-bg: #141414;
  --color-border: #3b3b3b;
  --color-todo-text: #ffffff;
  --color-tag-bg: #2c2c2c;
  --color-idle: #868686;
  --color-progress: #5452b4;
  --color-success: #319c43;

  --border-radius-1: 5px;
  --border-radius-2: 10px;

  --todo-min-height: 50px;
  --list-min-width: 260px;

  font-size: 16px;
  background-color: var(--color-bg);
}

* {
  box-sizing: border-box;
}
body {
  font-family: var(--font-primary);
}

button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 0.2em;
  cursor: pointer;
  color: var(--color-accent);
}
input {
  border: none;
  border-bottom: 2px solid var(--color-idle);
  width: 100%;
  background-color: var(--color-list-bg);
  color: var(--color-todo-text);
}

input:focus {
  border-bottom: 2px solid var(--color-accent);
  outline: none;
}

span:focus {
  outline: none;
  border-bottom: 1px solid var(--color-accent);
}

.todo-item__drag-handle {
  color: var(--color-accent);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--color-border);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 2px;
}

button:active {
  transform: scale(0.95);
}

.btn-cta {
  background-color: var(--color-accent);
  color: white;
  padding: 1em;
  font-size: 1rem;
  letter-spacing: 1px;
  box-shadow: 1px 1px 5px black;
}

.btn-cta:hover {
  box-shadow: 1px 1px 10px black;
}

.todo-list-container__list {
  display: flex;
  gap: 15px;
  padding: 0;
}

.todo-list__visible {
  border-radius: var(--border-radius-2);
  background-color: var(--color-list-bg);
  min-width: var(--list-min-width);
  display: inline-block;
  overflow: hidden;
  border: 1px solid var(--color-border);
}

.todo-list__header {
  color: var(--color-accent);
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid var(--color-border);
  gap: 10px;
}
.todo-list__header button {
  font-size: inherit;
}

.todo-list__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px;
  margin: 0;
  max-height: 60vh;
  overflow-y: scroll;
}

.todo-list__add {
  border-top: 1px solid var(--color-border);
  display: flex;
  padding: 10px;
}
.todo-list__add-btn {
  font-size: 1.6rem;
  color: var(--color-accent);
}
.todo-list__add-inp {
  border-radius: var(--border-radius);
  background-color: var(--color-list-item-bg);
  border: none;
  padding: 0.3em 1em;
  flex: 1;
  margin-right: 10px;
}

.todo-item__drop-area {
  height: 0px;
  transition: height 0.5s ease;
}
.todo-item__drop-area[data-expanded="true"] {
  height: var(--todo-min-height);
}

.todo-list__drop-area {
  width: 0px;
  transition: width 0.5s ease;
  display: inline-block;
}
.todo-list__drop-area[data-expanded="true"] {
  width: var(--list-min-width);
}

.todo-list__drag-handle,
.todo-item__drag-handle {
  cursor: grab;
}

.todo-item__visible {
  display: flex;
  gap: 5px;
}
.todo-item__status-line {
  width: 5px;
  background-color: var(--color-idle);
  border-radius: var(--border-radius-1);
}
.todo-item__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.todo-item__header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-item__visible .todo-item__edit {
  display: none;
}

.todo-item__visible:hover .todo-item__edit {
  display: inline-block;
}

todo-item {
  color: var(--color-todo-text);
}

.todo-item__state {
  border-radius: 0px var(--border-radius-1) var(--border-radius-1) 0px;
  color: var(--color-idle);
  background-color: var(--color-tag-bg);
  padding: 5px 13px;
  font-size: 0.9rem;
  font-weight: bold;
}

todo-item[state="1"] .todo-item__state {
  color: var(--color-progress);
}
todo-item[state="1"] .todo-item__status-line {
  background-color: var(--color-progress);
}
todo-item[state="2"] .todo-item__state {
  color: var(--color-success);
}
todo-item[state="2"] .todo-item__status-line {
  background-color: var(--color-success);
}

.todo-item__header-spacer {
  flex: 1;
}
